
<div style="background-color: #FFF;">
<div class="clearfix" ></div>
 
<div class="page_title">
<!-- 
	<div class="container">
		<div class="title"><h1>Who We Are</h1></div>
        <div class="pagenation"><a href="index.html">Home</a> <i>/</i> <a href="#">Pages</a> <i>/</i> Full Width Page</div>
	</div>
 --></div><!-- end page title --> 

<div class="clearfix"></div>   
 

<!-- Contant
======================================= -->

<div class="container">

	<div class="content_fullwidth">
    
    <div class="one_full">
    
    <div class="big_text1"><i>Live Account Sign-up Bonus</i></div>
    
    <h4>Terms and Conditions</h4>

    <p>The different bonus credits are subject to the client completing the following:</p>
    <ul class="list2">

<li><span class="highlight green">$100 Level</span> = 40 full lot closed trades in the first 60 days of the account approval.</li>
<li><span class="highlight green">$200 Level</span> = 80 full lot closed trades in the first 60 days of the account approval.</li>
<li><span class="highlight green">$300 Level</span> = 120 full lot closed trades in the first 60 days of the account approval.</li>
<li><span class="highlight green">$400 Level</span> = 160 full lot closed trades in the first 60 days of the account approval.</li>
<li><span class="highlight green">$500 Level</span> = 180 full lot closed trades in the first 60 days of the account approval.</li>
<li><span class="highlight green">$1000 Level</span> = 360 full lot closed trades in the first 60 days of the account approval.</li>

<p style="padding-left:18px; padding-top:5px;">To claim your bonus simply send us an <%= mail_to "support@directfx.com", "email" %>. </p>
 

    </ul>

   

  
    </div><!-- end section -->
	
    <div class="clearfix mar_top3"></div>


</div>

</div><!-- end main content area -->

