
<div class="page_title"></div><!-- red stripe --> 

  
<!-- Contant -->

<div class="container">



	<div class="content_fullwidth">
    
<div class="big_text1">MT4 Demo Confirmation</div>



	<p><span class="dropcap3">W</span>e would like to welcome you to DirectFX and thank you for opening a demo account!</p>


<br><br>



<p>This retail platform offers a small download size, extensive charting capabilities trailing stops and much more! It is a powerful tool for account management. The spreads on your demo account are identical to those on the live platform.</p>


<div class="clearfix divider_line2"></div>

        <div class="one_third one_third_custom" >

        	left column
       
        </div>
   <div class="two_third last"> 


 <div class="portfolio_image bo_wrapper">
            <%= image_tag("bo_see_board.jpg", :alt => 'fos_logo', :class => 'bo', :title => "fos")  %> 
 
            </div> 
                    



</div>     

   

<div class="mar_top2"></div>

        <div class="content_fullwidth">

        	<h6>Disclaimers:</h6>

        <ul class="list5" style="padding-left: 28px;">

			<li>Email is our primary way of contacting you for completing the sign-up process and for ongoing client communication. Please be sure to give us the most up-to-date information. </li>
			<li>Residents of the United States cannot currently open accounts with DIRECT FX. Any promotional material, offers, or advertisements from DIRECT FX are not intended for and do not apply to U.S. residents.</li>

		</ul>

        	<p>Trading of foreign exchange contracts, contracts for difference, derivatives and other investment products which are leveraged, can carry a high level of risk. These products may not be suitable for all investors. It is possible to lose more than your initial investment. You should carefully consider whether trading is suitable for you in light of your circumstances, knowledge, and financial resources. Opinions, market data, and recommendations are subject to change at any time. All funds committed should be risk capital. Past performance is not necessarily indicative of future results. Please read the <%= link_to 'PDS', download_pdf_url( :pdf => "DFX_PRODUCT_DISCLOSURE_STATEMENT.pdf") %> and <%= link_to 'FSG', download_pdf_url( :pdf => "direcfx_fsg.pdf") %> before making any decision to trade Direct Fx products. The risks must be understood prior to trading.</p>
        </br>
        	<p>Read the <%= link_to 'TOS', download_pdf_url( :pdf => "terms_conditions.pdf") %>.</p>


			 </div>   


  



			</div>

</div><!-- end main content area -->

<div class="mar_top5"></div>
