
<div class="page_title"></div><!-- red stripe --> 

  
<!-- Contant -->

<div class="container">



	<div class="content_fullwidth">
    
<div class="big_text1">CFD</div>


   <div class="one_third">

   				<div class="portfolio_image cfd_wrapper">
            <%= image_tag("rubiks.png", :alt => 'forex_globe', :class => 'cfd', :title => "fos")  %> 
 
            </div> 
                   


   </div>
   <div class="two_third last"> 

   	        <h6>CFDs: An Introduction</h6>

		<p><span class="dropcap3">A</span> CFD is a contract between two parties wherein the underlying is some existing index, commodity, forward etc. The “long” party has an interest in seeing the value of the underlying in question increase, whereas the “short” has an interest in seeing the value of the underlying decline. No ownership or transfer of ownership of the underlying asset, commodity, etc. takes place. Going a step further, the long party of a stock CFD is not entitled to any dividends, tender offers, or other corporate actions that may take place in the underlying firm. The benefits to a CFD on a stock, however, are greater leverage, and no need to borrow shares before becoming the short party to a transaction. In essence, a CFD with directFX is a simple way to speculate on the future direction of the underlying asset (or commodity, etc). No more, no less.</p>


 
	</div>    

    <div class="box_widget_full" > 
        
        <%= image_tag("site-icon17.png", class: "image_left2") %>
        <h6>DirectFX </h6>
        <p>DirectFX is always <span class="highlight gray"> on the clock</span> -- searching for ways to increase choices and open up markets for the benefit of our clients.</p>
        
    </div> 
    <div class="mar_top2"></div>

<h3 align="">Product Offering </h3>

<p>INDICES: Add diversification to your trading portfolio by taking positions in CFDs that track the values of major US, European and Asian indices.
COMMODITIES: Do you have a view that crude oil prices will increase in the coming months? Think gold prices are heading lower? directFX now offers a simple way to take positions that reflect your sentiments.</p></br>

<p>EQUITIES: Take positions on the price movement of individual equities without having to borrow stock all the while putting up less in margin.</p></br>

<p>BONDS: In order to complete our suite of CFD products offered, directFX is excited to give our clients the ability to trade their opinions on government bonds, to include the debt of Italy, the UK, Germany and the US.</p></br>

<p>Before considering trading in CFDs, consider how leveraged CFD trading fits in with your greater investment goals. CFDs are not for everyone, and the opportunity for extreme principal losses exists. You should consult with your financial advisor before becoming party to any CFD transaction.</p>



     <div class="mar_top2"></div>

     <div class="one_half">

<h6 align="">Direct FX provides a CFD for:</h6>

<ul class="list1">
	<li>True 24-hour trading from Sunday to Friday</li>
	<li>Trading opportunities in rising and falling markets</li>
	<li>Tight spreads reflecting real-time market liquidit</li>
	<li>24-hour support from Sunday to Friday</li>
</ul>
  

	</div>
	<div class ="one_half last">
		<h6 align="">Direct FX provides a CFD for:</h6>

		<ul class="list1">
	<li>True 24-hour trading from Sunday to Friday</li>
	<li>Trading opportunities in rising and falling markets</li>
	<li>Tight spreads reflecting real-time market liquidit</li>
	<li>24-hour support from Sunday to Friday</li>
</ul>


	</div>


			</div>

</div><!-- end main content area -->

<div class="mar_top5"></div>
