
<div class="page_title"></div><!-- red stripe --> 

  
<!-- Contant -->

<div class="container">



	<div class="content_fullwidth">
    
<div class="big_text1">Forex</div>


   <div class="one_third">
        <h6>Global Markets <span class="highlight green">Local Impact</span></h6>


		<p><span class="dropcap3">D</span>irect FX offers all major and commodity pairs that represent the most liquid and most widely traded currency pairs in the forex market. These pairs (EUR/JPY, GBP/JPY, and EUR/GBP) make up the vast majority of all trading in the forex market. Because these pairs typically have the largest volume of buyers and sellers, they typically have the tightest spreads. In addition, directFX also offers less active pairs and exotics for a more complete trading experience.</p>



   </div>
   <div class="two_third last"> 


 			<div class="portfolio_image forex_wrapper">
            <%= image_tag("forex_globe.png", :alt => 'forex_globe', :class => 'forex', :title => "fos")  %> 
 
            </div> 
                   
	</div>    

    <div class="mar_top2"></div>

<h3 align="">Available Currency Pairs </h3>

<table id="forex_table" class="table-list">
<tr>
<td>AUDCAD</td>
<td>AUDCHF</td>
<td>AUDJPY</td>
<td>AUDNZD</td>
<td>AUDUSD</td>
<td>CADCHF</td>
<td>CADJPY</td>
<td>CHFJPY</td>
<td>EURAUD</td>
</tr>
<tr>
<td>EURCAD</td>
<td>EURCHF</td>
<td>EURGBP</td>
<td>EURJPY</td>
<td>EURNZD</td>
<td>EURUSD</td>
<td>GBPAUD</td>
<td>GBPCAD</td>
<td>GBPCHF</td>
</tr>
<tr>
<td>GBPJPY</td>
<td>GBPNZD</td>
<td>GBPUSD</td>
<td>NZDCAD</td>
<td>NZDCHF</td>
<td>NZDJPY</td>
<td>NZDUSD</td>
<td>USDBRL</td>
<td>USDCAD</td>
</tr>
<tr>
<td>USDCHF</td>
<td>USDCNY</td>
<td>USDHKD</td>
<td>USDINR</td>
<td>USDJPY</td>
<td>USDMXN</td>
<td>USDSGD</td>
<td>USDTRY</td>
</tr>	
</table>

     <div class="mar_top2"></div>

<h3 align="">Benefits of Trading </h3>

<ul class="list1">
	<li>True 24-hour trading from Sunday to Friday</li>
	<li>Trading opportunities in rising and falling markets</li>
	<li>Tight spreads reflecting real-time market liquidit</li>
	<li>24-hour support from Sunday to Friday</li>
</ul>
  



			</div>

</div><!-- end main content area -->

<div class="mar_top5"></div>






<!-- Below this line is the content I need to replace the above placeholder with -->



