
<div class="page_title"></div><!-- red stripe --> 

  
<!-- Contant -->

<div class="container">



	<div class="content_fullwidth">
    
<div class="big_text1">Forex</div>


   <div class="one_third">
        <h6>Precious Metals Training </h6>


		<p><span class="dropcap3">D</span>irect FX now offers Gold and Silver trading right from your existing Metatrade4 platform. Gold and silver are a “neutral” asset class as they are not related to any one country but they are still considered to be a form of currency. These precious metals products are traded “Over The Counter” (OTC) like other Forex currencies and priced in USD with no physical delivery ever being made. Test drive Gold and Silver trading at directFX powered by the next generation technology for MT4 – AQUA, offered exclusively at directFX.</p>



   </div>
   <div class="two_third last"> 


 			<div class="portfolio_image forex_wrapper">
            <%= image_tag("gold_silver.png", :alt => 'gold_silver', :class => 'metals', :title => "gold_silver")  %> 
 
            </div> 
                   
	</div>    



        <div class="content_fullwidth">


<h3 align="">Benefits of Trading </h3>

<ul class="list1">
<li>Trade using the next generation technology for Metatrade4 AQUA offered exclusively at directFX.</li>
<li>Opportunity to hedge currency positions and diversify your portfolio</li>
<li>Metals typically exhibit more stability in volatile conditions than other commodities.</li>
<li>No physical delivery required.</li>
<li>Gold and silver have several industrial uses to help drive value.</li>
<li>24 hour support 5 days a week</li>

</ul>
  
		</div>


			</div>

</div><!-- end main content area -->

<div class="mar_top5"></div>






<!-- Below this line is the content I need to replace the above placeholder with -->



