
<div style="background-color: #FFF;">
<div class="clearfix" ></div>
 
<div class="page_title">
<!-- 
	<div class="container">
		<div class="title"><h1>Who We Are</h1></div>
        <div class="pagenation"><a href="index.html">Home</a> <i>/</i> <a href="#">Pages</a> <i>/</i> Full Width Page</div>
	</div>
 --></div><!-- end page title --> 

<div class="clearfix"></div>   
 

<!-- Contant
======================================= -->

<div class="container">

	<div class="content_fullwidth">
		    <div class="big_text1"><i>Get In Touch</i></div>

		<div class="one_third">
    
    	<ul class="fullimage_box2"> 
        	<li class="ef-icon"></li>
            <li><h3>Customer Support</h3></li>
            <li>All questions, comments, and inquiries may be directed to Direct FX by live chat, email, or telephone. If you are a current account holder please have your Direct FX account number available when contacting us.</li>
        </ul>
    
    </div><!-- end section -->

    <div class="one_third">
    
    <h3 align="center">Open A Trouble Ticket</h3>
<p>Submit a new support request. In order to streamline support requests and better serve you, we utilize a support ticket system.  For your reference we provide complete archives and history of all your support requests.</p>

<h3 align="center">OPEN A TICKET</h3>

<h3 align="center">Live Chat Support</h3>
<p>Open a new live chat session and talk to one of our forex professionals now! They are available to answer any of your questions or to help you with any issues you may be having.</p>

<h3 align="center">START A CHAT SESSION</h3>

</div>

<div class="one_third last">
	    	<ul class="fullimage_box2"> 
        	<li class="ef-icon"></li>
            <li><h3>Address Info</h3></li>
            <li><strong>Direct FX Trading PTY LTD</strong></li>
            <li>19-21 Hunter Street, Level 2 Sydney, </li>
            <li>NSW 2000, Australia</li>
            <li>Telephone: +61 2 8038-5093 </li>
            <li>E-mail: <a href="mailto:support@directfx.com">support@directfx.com</a></li>
            
        </ul>


	</div>

    
 
    <div class="clearfix divider_line2"></div>
    <div class="content_fullwidth">

 
        
            <iframe class="google-map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=19-21+Hunter+Street,+Level+2+Sydney+australia&hnear=2%2F19-21+Hunter+St,+Sydney+New+South+Wales+2000,+Australia&gl=us&t=m&z=16&iwloc=&amp;output=embed"></iframe>
            <br />
            <small>
            	<a href="https://maps.google.com/maps?q=19-21+Hunter+Street,+Level+2+Sydney+australia&hnear=2%2F19-21+Hunter+St,+Sydney+New+South+Wales+2000,+Australia&gl=us&t=m&z=16&iwloc=&amp;iwloc=A">View Larger Map</a>
            </small>
  </div>
	
    <div class="clearfix divider_line2"></div>

        <div class="one_half">


    
    </div>
               
    <div class="one_half last">
    


       
        
    </div>

    <div class="clearfix mar_top3"></div>


</div>

</div><!-- end main content area -->

