
<div class="page_title"></div><!-- red stripe --> 

  
<!-- Contant -->

<div class="container">



	<div class="content_fullwidth">
    
<div class="big_text1" align="center">Direct FX looks forward to conducting business with you!</div>

			<div class="success">
				<div class="message-box-wrap" align = "center">
                <strong>Success</strong> - A download link is on it's way to your inbox.</div>
			</div>

<div class="clearfix divider_line2"></div>

        <div class="one_third" >

        <p align="center">We will partner with clients on a number of endeavors.</p>
       
        </div>
                <div class="one_third" >

       
 <p > <h6>We will be in touch with you soon</h6>
				Direct Fx Trading Pty Ltd</br>
				Level 2</br>
				19-21 Hunter St.</br>
				Sydney, NSW 2000, Australia</br>
				Office +61 2 8038-5093</br>
				www.directfx.com</br>
</p>
       
        </div>
   <div class="one_third last"> 


 <div class="portfolio_image mt4_live_confirmation_wrapper">
            <%= image_tag("fireworks.jpg", :alt => 'fos_logo', :class => 'mt4_live_confirmation', :title => "live_comf")  %> 
 
            </div> 
                    

</div>     

   

<div class="mar_top2"></div>
<!-- 
        <div class="content_fullwidth">

        	<h6>Disclaimers:</h6>

        <ul class="list5" style="padding-left: 28px;">

			<li>Email is our primary way of contacting you for completing the sign-up process and for ongoing client communication. Please be sure to give us the most up-to-date information. </li>
			<li>Residents of the United States cannot currently open accounts with DIRECT FX. Any promotional material, offers, or advertisements from DIRECT FX are not intended for and do not apply to U.S. residents.</li>

		</ul>

        	<p>Trading of foreign exchange contracts, contracts for difference, derivatives and other investment products which are leveraged, can carry a high level of risk. These products may not be suitable for all investors. It is possible to lose more than your initial investment. You should carefully consider whether trading is suitable for you in light of your circumstances, knowledge, and financial resources. Opinions, market data, and recommendations are subject to change at any time. All funds committed should be risk capital. Past performance is not necessarily indicative of future results. Please read the <%= link_to 'PDS', download_pdf_url( :pdf => "DFX_PRODUCT_DISCLOSURE_STATEMENT.pdf") %> and <%= link_to 'FSG', download_pdf_url( :pdf => "direcfx_fsg.pdf") %> before making any decision to trade Direct Fx products. The risks must be understood prior to trading.</p>
        </br>
        	<p>Read the <%= link_to 'TOS', download_pdf_url( :pdf => "terms_conditions.pdf") %>.</p>


			 </div>   --> 


  



			</div>

</div><!-- end main content area -->

<div class="mar_top5"></div>
