<center>
<%
	require 'open-uri/cached'
	require 'erubis'
 	require 'xmlsimple'


	feed = open("http://raymperry.com/Ecal%20XMLSample.xml")
	# feed = open("http://ecal.decimalpointanalytics.info/directfxxml.aspx")

	docElem = XmlSimple.xml_in(feed, {'ForceArray' => false}) %>

			<style type='text/css'>
				th {
					background-color:#999;
					color:#000;
					padding-left: 10px;
					padding-right: 10px;
				}
			</style>
			
			<%
			dates = []
			docElem['Table'].each do |table|
				if !dates.include? table['REDATE']
					dates << table['REDATE']
				end
			end

			dates = dates.sort
			%>
			
			<form action=''><select>
			<%=
			page = ''
			dates.each do |date|
				page += "<option value='#{date}'>#{date}</option>"
			end
			page.html_safe
			%>

			</select>

			<input type='checkbox' value='weekly' />Weekly</form>
			<table>
				<th>Serial Number</th>
				<th>Release Date</th>
				<th>Release Time</th>
				<th>Release Date/Time</th>
				<th>Country Name</th>
				<th>Frequency</th>
				<th>Relevance</th>
				<th>Indicator Name</th>
				<th>Indicator Type</th>
				<th>Indicator Source</th>
				<th>Indicator Description</th>
				<th>Actual Value</th>
				<th>Forecast Value</th>
				<th>Previous Value</th>
				<th>For Period</th>
				<th>Source Link</th>
				<th>Indicator Sub Type</th>
				<th>Currency Name</th>
				<th>Country Flag</th>
			
<%=
	newTbl = ''
	docElem['Table'].each do |table|
		newTbl += "<tr>"
		newTbl += "<td>" + table['M008CODE'] + "</td>"
		newTbl += "<td>" + table['REDATE'] + "</td>"
		newTbl += "<td>" + table['RETIME'] + "</td>"
		newTbl += "<td>" + table['DATECOL2'] + "</td>"
		newTbl += "<td>" + table['COUNTRY'] + "</td>"
		newTbl += "<td>" + table['FREQUENCY'] + "</td>"
		newTbl += "<td>" + table['RELEVANCE'] + "</td>"
		newTbl += "<td>" + table['INDNAME'] + "</td>"
		newTbl += "<td>" + table['INDTYPE'] + "</td>"
		newTbl += "<td>" + table['INDSOURCE'] + "</td>"
		newTbl += "<td>" + table['INDDESC'] + "</td>"
		newTbl += "<td>" + table['ACTUAL'] + "</td>"
		newTbl += "<td>" + table['FORCAST'] + "</td>"
		newTbl += "<td>" + table['PREVIOUS'] + "</td>"
		newTbl += "<td>" + table['PERIOD'] + "</td>"
		newTbl += "<td>" + table['SOURCELINK'] + "</td>"
		newTbl += "<td>" + table['EVENTSUBTYP'] + "</td>"
		newTbl += "<td>" + table['CURRNCY'] + "</td>"
		newTbl += "<td>" + table['COUNTRYFLAG'] + "</td>"
		newTbl += "</tr>"
	end

	newTbl += "</table>"
	newTbl.html_safe
%>
</center>