<center>
<%
	require 'open-uri/cached'
	require 'erubis'
 	require 'xmlsimple'


	feed = open("http://raymperry.com/Ecal%20XMLSample.xml")
	# feed = open("http://ecal.decimalpointanalytics.info/directfxxml.aspx")

	docElem = XmlSimple.xml_in(feed, {'ForceArray' => false}) %>

			<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
			<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
			<script src="//raymperry.com/jquery.cf.popover.min.js"></script>
			<script src="//raymperry.com/jquery.ui.position.min.js"></script>-->
			<br/>
			<style type='text/css'>
				table {background-color:#fff;color:#000;}
				th {
					background-color:#999;
					padding-left: 10px;
					padding-right: 10px;
				}
			</style>
			
			<%
			dates = []
			docElem['Table'].each do |table|
				if !dates.include? table['REDATE']
					dates << table['REDATE']
				end
			end

			dates = dates.sort
			%>
			
			<form action=''><select>
			<%=
			page = ''
			dates.each do |date|
				page += "<option value='#{date}'>#{date}</option>"
			end
			page.html_safe
			%>

			</select>

			<input type='checkbox' value='weekly' />Weekly</form>

			<%= time_zone_select( "user", 'time_zone', ActiveSupport::TimeZone.us_zones, :default => "Pacific Time (US & Canada)") %>

			<div id="moreInfoPopup" style="
				position:absolute;
				left:50%;
				top:50%;
				background-color:#fff;
				border-style:solid;
				border-width:5px;
				border-color:#000;
				width: 250px;
				height:250px;
				margin-left: -125px;
				margin-top: -125px;">

				<a id="closePop" href='#'>Close window</a>


			</div>


			<table>
				<th>Serial Number</th>
				<th>Release Date</th>
				<th>Release Time</th>
				<th>Release Date/Time</th>
				<th>Country Name</th>
				<th>Frequency</th>
				<th>Relevance</th>
				<th>Indicator Name</th>
				<th>Indicator Type</th>
				<th>Indicator Source</th>
				<th>Indicator Description</th>
				<th>Actual Value</th>
				<th>Forecast Value</th>
				<th>Previous Value</th>
				<th>For Period</th>
				<th>Source Link</th>
				<th>Indicator Sub Type</th>
				<th>Currency Name</th>
				<th>Country Flag</th>
			
<%=
	newTbl = ''
	count = 0
	docElem['Table'].each do |table|
		count +=1
		newTbl += "<tr>"
		newTbl += "<td>" + table['M008CODE'] + "</td>"
		newTbl += "<td>" + table['REDATE'] + "</td>"
		newTbl += "<td>" + table['RETIME'] + "</td>"
		newTbl += "<td>" + table['DATECOL2'] + "</td>"
		newTbl += "<td>" + table['COUNTRY'] + "</td>"
		newTbl += "<td>" + table['FREQUENCY'] + "</td>"
		newTbl += "<td>" + table['RELEVANCE'] + "</td>"
		newTbl += "<td><a class='moreInfoTog' href=# id='mi#{count}'>" + table['INDNAME'] + "</a></td>"
		newTbl += "<td>" + table['INDTYPE'] + "</td>"
		newTbl += "<td>" + table['INDSOURCE'] + "</td>"
		newTbl += "<td><div class='moreInfo' id='mi#{count}'>" + table['INDDESC'] + "</div></td>"
		newTbl += "<td>" + table['ACTUAL'] + "</td>"
		newTbl += "<td>" + table['FORCAST'] + "</td>"
		newTbl += "<td>" + table['PREVIOUS'] + "</td>"
		newTbl += "<td>" + table['PERIOD'] + "</td>"
		newTbl += "<td>" + table['SOURCELINK'] + "</td>"
		newTbl += "<td>" + table['EVENTSUBTYP'] + "</td>"
		newTbl += "<td>" + table['CURRNCY'] + "</td>"
		newTbl += "<td>" + table['COUNTRYFLAG'] + "</td>"
		newTbl += "</tr>"
	end

	newTbl += "</table>"
	newTbl.html_safe
%>
</center>