
<div style="background-color: #FFF;">
 
<div class="page_title">
<!-- 
	<div class="container">
		<div class="title"><h1>Who We Are</h1></div>
        <div class="pagenation"><a href="index.html">Home</a> <i>/</i> <a href="#">Pages</a> <i>/</i> Full Width Page</div>
	</div>
 --></div><!-- end page title --> 


<div class="daily">

 


<div class="clearfix"></div>   
<div class="container">



	<div class="content_fullwidth">
<br><br>
	<h2><i>Daily</i> Market Reports</h2>
			<%count = 0%>
        
        <div id="tabs">
			<ul class="tabs">  
			<% @contents.each do |line| %>
			<% if line.include? "[expand" %>
			<li class=""><a href="#tab<%=count%>"><%= line.split("\"")[1] %></a></li>
			<%count = count+1 %>
			<%end%>
			<% end%>	
			</ul>
			<!-- /# end tab links -->	


		<div class="tab-container">
			<%count2 = 0 %>

		
		<% @contents.each do |line| %>
			
			<% if line.include? "[expand" %>
			<div id="tab<%=count2%>" class="tab-content">	
			<%count2 = count2+1 %>
			<%end%>	

			<% if line.include? "[/expand" %>
			</div><!-- end tab single section --> 
			<%end%>


			<% if !line.include?("[expand") &&  !line.include?("[/expand") && !line.blank? %>
			<%= "#{line.html_safe}" %> </br>
			<%end%>

		<% end%>
 			
		</div>
		
		</div><!-- end tab -->

 
</div>

</div><!-- end main content area -->


<div class="clearfix"></div>

</div>
