<div class="page_title"></div><!-- red stripe --> 

  
<!-- Contant -->

<div class="container">

	<div class="content_fullwidth">
    
<div class="big_text1"><i>Regulations</i></div>

        <div class="one_third">
        <h6>FS Liscense</h6>
        <p>DIRECT FX is an Australian owned financial services company that is regulated and licensed by the Australian Securities and Investment Commission (ASIC) ACN 120 189 424. The company’s Australian Financial Services License (AFSL) number is 305539. ASIC requires licensed financial services providers to meet strict capital requirements and to implement strict internal procedures including risk management, staff training, accounting and audits. Client funds held in segregated trust accounts with the Commonwealth Bank of Australia, CBA.</p>
        </div>
        
        <div class="one_third">
        <h6>Segregated Client Funds</h6>
        <p>All client funds are held at fully segregated client trust accounts held at CBA, a AA rated bank. Client funds are kept separate from the DIRECT FX Pty Ltd’s company funds and will not be used to pay back creditors in the event of DIRECT FX Trading Pty Ltd’s insolvency.</p>
        </div>
        
        <div class="one_third last">
        <h6>Professional Memberships</h6>
        <p>DIRECT FX Trading Pty Ltd is a member of the Financial Ombudsman Service (FOS). This is an approved Australian external dispute resolution system that can deal with complaints about all of the financial services DIRECT FX Trading Pty Ltd provides under its AFSL.</p>
        </div>

         <div class="mar_top2"></div>

		<div class="one_half"> 
        	<div class="portfolio_image"> 
        		<%= image_tag("logo_commonwealth_bank1.png", :alt => 'commonwealth_log0', :class => 'fancybox', :title => "Australlian commonwealth bank")  %>
         
            </div>
        </div><!-- end section -->
        
        <div class="one_half last">
        	<div class="portfolio_image">
            <%= image_tag("fos-logo.png", :alt => 'fos_logo', :class => 'fancybox', :title => "fos")  %>
 
            </div> 
        </div><!-- end section -->
        
        

        <div class="content_fullwidth">

        	<h5 align="center"> World Wide Professional Indemnity Insurance </h5>


        <p style="padding-bottom:5px;">The Australian Securities and Investments Commission requires all Australian Financial Services Licensees (AFSL) to purchase Professional Indemnity Insurance.
Professional Indemnity Insurance protects claims relating to: </p>


	<ul class="list5" style="padding-left: 28px;">

<li>Negligence – or breached of duty regarding care to clients </li>
<li>Intellectual Property (IP)</li>
<li>Loss of Documents or Data</li>
<li>Dishonesty – A firm is found liable for the theft of a client’s funds</li>
<li>Coverage for criminal acts.</li>

</ul>





    </div>
        
    
	</div>

</div><!-- end main content area -->

<div cxlass="mar_top5"></div>
