
<div style="background-color: #FFF;">
<div class="clearfix" ></div>
 
<div class="page_title">
<!-- 
	<div class="container">
		<div class="title"><h1>Who We Are</h1></div>
        <div class="pagenation"><a href="index.html">Home</a> <i>/</i> <a href="#">Pages</a> <i>/</i> Full Width Page</div>
	</div>
 --></div><!-- end page title --> 

<div class="clearfix"></div>   
 

<!-- Contant
======================================= -->

<div class="container">

	<div class="content_fullwidth">
    
    <div class="one_full">
    
    <div class="big_text1">Who We Are</div>
    
    

   
    <p><span class="dropcap3">F</span>ounded in 2006 Direct FX Trading Pty Ltd is the <span class="highlight red">world’s leading foreign exchange firms</span>. With subsidiaries and offices that conduct business worldwide, our success is driven by <kbr>our people</kbr> and their focus on delivering the right way; by operating responsibly, executing with excellence, and last but not least: applying innovative strategy.  We are foreign exchange.</p>

    <%= image_tag("opera_house.jpg", class: "portfolio_area")  %>
 
    <div class="clearfix divider_line2"></div>
        
        <div class="one_third">
    
    	<ul class="fullimage_box2"> 
        	<li class="ef-icon"></li>
            <li><h3>Global Scope</h3></li>
            <li>Our diverse and highly skilled global management team consists of five managing partners. Our managing partners have unprecedented experience in Forex and commodities brokering, banking, physical metals dealing, floor brokering and trading at the CBOT and CME.Along with our managing partners we have a very large network of Introducing Brokers and employees worldwide.</li>
        </ul>
    
    </div><!-- end section -->
    
    <div class="one_third">
    
    	<ul class="fullimage_box2">
        	<li class="ef-icon1"></li>
            <li><h3>Technology</h3></li>
            <li>Technology is propelling our growth.We are focusing on technologies that help our customers receive better pricing, faster and more reliable direct bank execution. We have direct access to liquidity from the top global banks which allows us to maintain our competitive edge by providing tighter spreads for our customers. Our software uses an aggregation unlike anything in the industry to optimize the process of using multiple pools of liquidity.</li>
        </ul>
    
    </div><!-- end section -->
    
    <div class="one_third last">
    
    	<ul class="fullimage_box2">
        	<li class="ef-icon2"></li>
            <li><h3>Regulation</h3></li>
            <li>Direct FXTrading Pty Ltd is a financial services company that is regulated and licensed by the Australian Securities and Investment Commission (ASIC) ACN 120 189 424.The company’s Australian Financial Services License (AFSL) number is 305539. ASIC requires licensed financial services providers to meet strict capital requirements and to implement strict internal procedures including risk management, staff training, accounting and audits. Client funds held in segregated trust accounts with AA rated banks.</li>
        </ul>
    
    </div><!-- end section -->
  
    </div><!-- end section -->
	
    <div class="clearfix mar_top3"></div>

<!-- 
    <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for uncover many web sites.</p>
    <br /> 
    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
    <br />
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.  Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
     
     <div class="clearfix mar_top3"></div>
              
    <div class="box_widget_full" > 
        
        <%= image_tag("site-icon17.png", class: "image_left1") %>
        <h3>Their exact original form accompanied by English versions</h3>
        <p>Where popularised in the 1960s with the release of letraset sheets containing passages treatise on the theory lorem Ipsum passages.</p>
        
    </div>  -->  

</div>

</div><!-- end main content area -->

